This is for my games.
Pls note you have to give me credits in the game.
If you don't have me with some type of credits u will be reported.
Admin:
Every group  goes into the local groupid = id
-----------------—
Thanks

-gamer1

