This is for my games.
(c) 2021.  All rights reserved.  Any reproduction, retransmission or copying without express written consent is strictly prohibited without proper credit.
Pls note you have to give me credits in the game.
Admin:
Every group  goes into the local groupid = id
-----------------—
Thanks

-gamer1

